In [ ]:
%run nb_init.py

### 데이터 불러온뒤 합쳐서 겹치는 정보까지 확인

In [ ]:
import pandas as pd

# 데이터 불러오기
df_Customers = pd.read_csv('df_Customers.csv')
df_OrderItems = pd.read_csv('df_OrderItems.csv')
df_Orders = pd.read_csv('df_Orders.csv')
df_Payments = pd.read_csv('df_Payments.csv')
df_Products = pd.read_csv('df_Products.csv')

test_Customers = pd.read_csv('test_Customers.csv')
test_OrderItems = pd.read_csv('test_OrderItems.csv')
test_Orders = pd.read_csv('test_Orders.csv')
test_Payments = pd.read_csv('test_Payments.csv')
test_Products = pd.read_csv('test_Products.csv')

# 데이터프레임 합치기
combined_Customers = pd.concat([df_Customers, test_Customers], ignore_index=True)
combined_OrderItems = pd.concat([df_OrderItems, test_OrderItems], ignore_index=True)
combined_Orders = pd.concat([df_Orders, test_Orders], ignore_index=True)
combined_Payments = pd.concat([df_Payments, test_Payments], ignore_index=True)
combined_Products = pd.concat([df_Products, test_Products], ignore_index=True)

# 합쳐진 데이터프레임 저장 (선택)
combined_Customers.to_csv('Customers.csv', index=False)
combined_OrderItems.to_csv('OrderItems.csv', index=False)
combined_Orders.to_csv('Orders.csv', index=False)
combined_Payments.to_csv('Payments.csv', index=False)
combined_Products.to_csv('Products.csv', index=False)

In [ ]:
Customers = pd.read_csv('Customers.csv')
OrderItems = pd.read_csv('OrderItems.csv')
Orders = pd.read_csv('Orders.csv')
# Payments = pd.read_csv('Payments.csv')
Products = pd.read_csv('Products.csv')

In [ ]:
Customers.info()

In [ ]:
import pandas as pd

# CSV 파일 불러오기 (예시 파일 경로로 교체 필요)

Orders = pd.read_csv('Orders.csv')
OrderItems = pd.read_csv('OrderItems.csv')
Customers = pd.read_csv('Customers.csv')
# Payments = pd.read_csv('Payments.csv')
Products = pd.read_csv('Products.csv')

# 중복 확인 함수
def check_duplicates(df, column_name, df_name):
    duplicate_rows = df[df.duplicated(subset=column_name, keep=False)]
    if duplicate_rows.empty:
        print(f"{df_name} 데이터프레임에서 중복된 {column_name}가 없습니다.")
    else:
        print(f"{df_name} 데이터프레임에서 중복된 {column_name}가 있습니다:")
        print(duplicate_rows)

# 각 데이터프레임에서 중복 확인
check_duplicates(Orders, 'order_id', 'Orders')
check_duplicates(OrderItems, 'order_id', 'OrderItems')
check_duplicates(Customers, 'customer_id', 'Customers')
# check_duplicates(Payments, 'order_id', 'Payments')
check_duplicates(Products, 'product_id', 'Products')

### Oredrs 파일 전처리 최종 Orders03

In [ ]:
#Orders 에서 배달완료된 데이터 들만 남기기

import pandas as pd

# CSV 파일 불러오기
Orders = pd.read_csv('Orders.csv')

# order_status가 'delivered'인 행만 남기기
Orders01 = Orders[Orders['order_status'] == 'delivered']

# 결과 출력 또는 파일로 저장 (선택사항)
#delivered_orders.to_csv('delivered_Orders.csv', index=False)

print(Orders01)

In [ ]:
#예상도착시간 order_estimated_delivery_date 열 제거


# order_estimated_delivery_date 열 제거
Orders02 = Orders01.drop(columns=['order_estimated_delivery_date'])

# 결과 출력 또는 파일로 저장 (선택사항)
# Orders02.to_csv('Orders_without_estimated_delivery_date.csv', index=False)

Orders02.info()

In [ ]:
# NaN 값이 있는 행 제거
Orders03 = Orders02.dropna()

# 결과 출력 또는 파일로 저장 (선택사항)
# cleaned_orders02.to_csv('orders02_cleaned.csv', index=False)
Orders03.info()

In [ ]:
#배송시간 계산 열 추가 코드
#타임스탬프 열 datetime 타입으로 변환
#order_delivered_timestamp - order_purchase_timestamp
#도착시간 에서 주문시간 빼서 계산

# 타임스탬프 열을 datetime 타입으로 변환
Orders03['order_purchase_timestamp'] = pd.to_datetime(Orders03['order_purchase_timestamp'])
Orders03['order_delivered_timestamp'] = pd.to_datetime(Orders03['order_delivered_timestamp'])

# 배송 시간 계산 (차이 계산)
Orders03['delivery_time'] = \
    Orders03['order_delivered_timestamp'] - Orders03['order_purchase_timestamp']

# 결과를 파일로 저장 (선택사항)
Orders03.to_csv('Orders03.csv', index=False)

Orders03.info()

### Oreders_items 전처리 최종 OrderItems01

In [ ]:
OrderItems.info()

In [ ]:
# Orders_Itemas 에서 필요한열 남기고 나머지 삭제
# order_id, product_id, shipping_charges만 남기고 나머지 열을 제거
# 필요한 열만 선택하여 새로운 데이터프레임 생성
OrderItems01 = OrderItems[['order_id', 'product_id', 'shipping_charges']]

# 결과 출력 또는 파일로 저장 (선택사항)
OrderItems01.to_csv('OrderItems01.csv', index=False)

OrderItems01.info()

### Custormes 파일 전처리  최종 Customer01

In [ ]:
Customers.info()

In [ ]:
#도시, customer_id 빼고

#customer-state, customer_zip_code_prefix 열을 지우고 
# null값이 있는 데이터 행도 지움
# 불필요한 열 제거
Customers_filtered = Customers.drop(columns=['customer_state', 'customer_zip_code_prefix'])

# Null 값이 있는 행 제거
Customers01 = Customers_filtered.dropna()

# 결과 출력 또는 파일로 저장 (선택사항)
Customers01.to_csv('Customers01.csv', index=False)

Customers01.info()

### Product 전처리 딱히 할거 없음

In [ ]:
Products.info()

In [ ]:
# 중복된 product_id 행 제거
Products_df01 = Products.drop_duplicates(subset='product_id')

# null 값이 포함된 행 제거
Products_df01 = Products_df01.dropna()


# 제거 후 데이터프레임 확인
Products_df01.info()

### 데이터 합치기

Orders03과 OrderItems01 데이터프레임을 order_id를 기준으로 병합 merged_df01

In [ ]:
Orders03.info()

In [ ]:
OrderItems01.info()

In [ ]:
# Orders03과 OrderItems01 을 합침. order_id 기준으로
# Orders03과 OrderItems01 데이터프레임을 order_id를 기준으로 병합
merged_df01 = pd.merge(Orders03, OrderItems01, on='order_id', how='left')

# 결과 출력 또는 파일로 저장 (선택사항)
merged_df01.to_csv('merged_Orders_OrderItems.csv', index=False)

print(merged_df01)

In [ ]:
merged_df01.info()

merged_df01 과 customer 정보 customer-id 기준으로 합침

In [ ]:
Customers.info()

In [ ]:
import pandas as pd

# 이전에 병합된 데이터프레임 (Orders03 + OrderItems01)
# 예를 들어, 이전 병합된 데이터프레임이 merged_df라면
# Customers 데이터프레임 불러오기
Customers01 = pd.read_csv('Customers01.csv')

# merged_df와 Customers를 customer_id를 기준으로 병합
merged_df02 = pd.merge(merged_df01, Customers01, on='customer_id', how='inner')

# 결과 출력 또는 파일로 저장 (선택사항)
merged_df02.to_csv('merged_df02.csv', index=False)

merged_df02

In [ ]:
merged_df02.info()

In [ ]:

# merged_df02과 Products를 product_id를 기준으로 병합
merged_df03 = pd.merge(merged_df02, Products_df01, on='product_id', how='right')

# 결과 출력 또는 파일로 저장 (선택사항)
merged_df03.to_csv('merged_df03.csv', index=False)

merged_df03.info()

In [ ]:
merged_df03.info()

In [ ]:
# 중복 항목 제거
merged_df04 = merged_df03.drop_duplicates()

# Null 값이 있는 행 제거
final_df = merged_df04.dropna()

# 중복이 제거된 데이터프레임을 CSV 파일로 저장
# final_df.to_csv('final_df.csv', index=False)

final_df.info()

In [ ]:
# 중복된 order_id 찾기
x = final_df[final_df.duplicated(subset=['order_id'], keep=False)]

# 중복된 데이터 출력
x.info()

### final_df 에서 전처리

In [120]:
final_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,delivery_time,product_id,shipping_charges,customer_city,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,4 days 03:21:58,90K0C1fIyQUf,84.65,varzea paulista,toys,491.0,19.0,12.0,16.0
1,yerr73FjzQBV,TuHMZO7ZH7mZ,delivered,2017-10-23 17:07:40,2017-10-25 02:28:33,2017-11-03 19:03:52,11 days 01:56:12,90K0C1fIyQUf,48.35,rio de janeiro,toys,491.0,19.0,12.0,16.0
2,HAMsBcLy9HjK,UNYaurBkHxer,delivered,2017-10-29 11:01:06,2017-10-29 11:45:36,2017-11-03 20:27:46,5 days 09:26:40,90K0C1fIyQUf,84.65,aracatuba,toys,491.0,19.0,12.0,16.0
3,GxnIw0TWGbsl,olvLB3sqg4YE,delivered,2017-10-23 16:26:56,2017-10-23 16:46:25,2017-10-26 20:47:57,3 days 04:21:01,90K0C1fIyQUf,84.65,araraquara,toys,491.0,19.0,12.0,16.0
4,xmaBKTCSLmlD,HvaudPydAHuQ,delivered,2017-10-26 16:52:36,2017-10-26 17:32:23,2017-11-06 19:46:41,11 days 02:54:05,90K0C1fIyQUf,45.50,cuiaba,toys,491.0,19.0,12.0,16.0

In [121]:
# 열 삭제
final_df01 = final_df.drop(columns=['order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_timestamp'])

# 결과 확인
final_df01.head()

,order_id,customer_id,delivery_time,product_id,shipping_charges,customer_city,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,4 days 03:21:58,90K0C1fIyQUf,84.65,varzea paulista,toys,491.0,19.0,12.0,16.0
1,yerr73FjzQBV,TuHMZO7ZH7mZ,11 days 01:56:12,90K0C1fIyQUf,48.35,rio de janeiro,toys,491.0,19.0,12.0,16.0
2,HAMsBcLy9HjK,UNYaurBkHxer,5 days 09:26:40,90K0C1fIyQUf,84.65,aracatuba,toys,491.0,19.0,12.0,16.0
3,GxnIw0TWGbsl,olvLB3sqg4YE,3 days 04:21:01,90K0C1fIyQUf,84.65,araraquara,toys,491.0,19.0,12.0,16.0
4,xmaBKTCSLmlD,HvaudPydAHuQ,11 days 02:54:05,90K0C1fIyQUf,45.50,cuiaba,toys,491.0,19.0,12.0,16.0

### 시간대 일 시 분 초 에서 시 단위로 int형 변경

In [122]:
# 'delivery_time'을 datetime.timedelta로 변환
final_df01['delivery_time'] = pd.to_timedelta(final_df01['delivery_time'])

# 'delivery_time'을 시간 단위로 변환하여 정수형으로 저장
final_df01['delivery_time_hours'] = final_df01['delivery_time'].dt.total_seconds() / 3600
final_df01['delivery_time_hours'] = final_df01['delivery_time_hours'].astype(int)

final_df02 = final_df01.drop(columns=['delivery_time'])

# 결과 확인
final_df02.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87109 entries, 0 to 87702
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               87109 non-null  object
 1   customer_id            87109 non-null  object
 2   product_id             87109 non-null  object
 3   shipping_charges       87109 non-null  float64
 4   customer_city          87109 non-null  object
 5   product_category_name  87109 non-null  object
 6   product_weight_g       87109 non-null  float64
 7   product_length_cm      87109 non-null  float64
 8   product_height_cm      87109 non-null  float64
 9   product_width_cm       87109 non-null  float64
 10  delivery_time_hours    87109 non-null  int64
dtypes: float64(5), int64(1), object(5)
memory usage: 8.0+ MB

In [123]:
final_df02.head()

,order_id,customer_id,product_id,shipping_charges,customer_city,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,delivery_time_hours
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,90K0C1fIyQUf,84.65,varzea paulista,toys,491.0,19.0,12.0,16.0,99
1,yerr73FjzQBV,TuHMZO7ZH7mZ,90K0C1fIyQUf,48.35,rio de janeiro,toys,491.0,19.0,12.0,16.0,265
2,HAMsBcLy9HjK,UNYaurBkHxer,90K0C1fIyQUf,84.65,aracatuba,toys,491.0,19.0,12.0,16.0,129
3,GxnIw0TWGbsl,olvLB3sqg4YE,90K0C1fIyQUf,84.65,araraquara,toys,491.0,19.0,12.0,16.0,76
4,xmaBKTCSLmlD,HvaudPydAHuQ,90K0C1fIyQUf,45.50,cuiaba,toys,491.0,19.0,12.0,16.0,266

### 카테고리 40개 에서 5개로 변경

In [124]:
# 카테고리 매핑
category_mapping = {
    'electronics': 'Electronics & Appliances',
    'audio': 'Electronics & Appliances',
    'computers_accessories': 'Electronics & Appliances',
    'computers': 'Electronics & Appliances',
    'telephony': 'Electronics & Appliances',
    'fixed_telephony': 'Electronics & Appliances',
    'tablets_printing_image': 'Electronics & Appliances',
    'cine_photo': 'Electronics & Appliances',
    'home_appliances': 'Electronics & Appliances',
    'home_appliances_2': 'Electronics & Appliances',
    'small_appliances': 'Electronics & Appliances',
    'small_appliances_home_oven_and_coffee': 'Electronics & Appliances',
    'air_conditioning': 'Electronics & Appliances',
    'fashion_shoes': 'Fashion, Beauty & Personal Care',
    'fashion_bags_accessories': 'Fashion, Beauty & Personal Care',
    'fashion_male_clothing': 'Fashion, Beauty & Personal Care',
    'fashion_female_clothing': 'Fashion, Beauty & Personal Care',
    'fashion_underwear_beach': 'Fashion, Beauty & Personal Care',
    'fashion_sport': 'Fashion, Beauty & Personal Care',
    'fashion_childrens_clothes': 'Fashion, Beauty & Personal Care',
    'watches_gifts': 'Fashion, Beauty & Personal Care',
    'luggage_accessories': 'Fashion, Beauty & Personal Care',
    'health_beauty': 'Fashion, Beauty & Personal Care',
    'perfumery': 'Fashion, Beauty & Personal Care',
    'diapers_and_hygiene': 'Fashion, Beauty & Personal Care',
    'furniture_decor': 'Home & Furniture',
    'furniture_living_room': 'Home & Furniture',
    'furniture_bedroom': 'Home & Furniture',
    'furniture_mattress_and_upholstery': 'Home & Furniture',
    'home_comfort': 'Home & Furniture',
    'home_confort_2': 'Home & Furniture',
    'office_furniture': 'Home & Furniture',
    'bed_bath_table': 'Home & Furniture',
    'housewares': 'Home & Furniture',
    'kitchen_dining_laundry_garden_furniture': 'Home & Furniture',
    'la_cuisine': 'Home & Furniture',
    'construction_tools_construction': 'Construction & Industry',
    'construction_tools_garden': 'Construction & Industry',
    'construction_tools_safety': 'Construction & Industry',
    'construction_tools_lights': 'Construction & Industry',
    'costruction_tools_tools': 'Construction & Industry',
    'costruction_tools_garden': 'Construction & Industry',
    'home_construction': 'Construction & Industry',
    'industry_commerce_and_business': 'Construction & Industry',
    'agro_industry_and_commerce': 'Construction & Industry',
    'signaling_and_security': 'Construction & Industry',
    'security_and_services': 'Construction & Industry',
    'toys': 'Miscellaneous',
    'sports_leisure': 'Miscellaneous',
    'cool_stuff': 'Miscellaneous',
    'consoles_games': 'Miscellaneous',
    'musical_instruments': 'Miscellaneous',
    'party_supplies': 'Miscellaneous',
    'food': 'Miscellaneous',
    'food_drink': 'Miscellaneous',
    'drinks': 'Miscellaneous',
    'pet_shop': 'Miscellaneous',
    'flowers': 'Miscellaneous',
    'books_technical': 'Miscellaneous',
    'books_general_interest': 'Miscellaneous',
    'books_imported': 'Miscellaneous',
    'dvds_blu_ray': 'Miscellaneous',
    'music': 'Miscellaneous',
    'art': 'Miscellaneous',
    'christmas_supplies': 'Miscellaneous',
    'market_place': 'Miscellaneous'
}

# 카테고리 이름 변환
final_df02['category'] = final_df02['product_category_name'].map(category_mapping)

print(final_df02)

           order_id   customer_id    product_id  shipping_charges  \
0      Axfy13Hk4PIk  hCT0x9JiGXBQ  90K0C1fIyQUf             84.65
1      yerr73FjzQBV  TuHMZO7ZH7mZ  90K0C1fIyQUf             48.35
2      HAMsBcLy9HjK  UNYaurBkHxer  90K0C1fIyQUf             84.65
3      GxnIw0TWGbsl  olvLB3sqg4YE  90K0C1fIyQUf             84.65
4      xmaBKTCSLmlD  HvaudPydAHuQ  90K0C1fIyQUf             45.50
...             ...           ...           ...               ...
87698  COAEBb9wujeO  BqRGM472ahYC  USSzekoHkA25             50.67
87699  UcyEqhz0z6is  31lUTcScwAaf  SZRgDV7xa2U8             25.18
87700  UxArq2NbNHVg  cuARwGvabbtw  w2OtdEjwNHBr             41.41
87701  zlcLnXGgAabl  bfJtzkBGksdY  W8vikEizUggJ            188.65
87702  Xo1fqyXOC6CR  rhevVNXYJnEs  5pbzE0rDy61l             70.06

         customer_city product_category_name  product_weight_g  \
0      varzea paulista                  toys             491.0
1       rio de janeiro                  toys             491.0
2            aracatuba                  toys             491.0
3           araraquara                  toys             491.0
4               cuiaba                  toys             491.0
...                ...                   ...               ...
87698        sao paulo                  toys            1352.0
87699   rio de janeiro                  toys            1360.0
87700      carapicuiba                  toys             833.0
87701           amparo                  toys             700.0
87702         brasilia                  toys            1750.0

       product_length_cm  product_height_cm  product_width_cm  \
0                   19.0               12.0              16.0
1                   19.0               12.0              16.0
2                   19.0               12.0              16.0
3                   19.0               12.0              16.0
4                   19.0               12.0              16.0
...                  ...                ...               ...
87698               37.0                9.0              30.0
87699               28.0               21.0              24.0
87700               17.0               12.0              16.0
87701               21.0               14.0              14.0
87702               32.0               18.0              24.0

       delivery_time_hours       category
0                       99  Miscellaneous
1                      265  Miscellaneous
2                      129  Miscellaneous
3                       76  Miscellaneous
4                      266  Miscellaneous
...                    ...            ...
87698                  168  Miscellaneous
87699                  345  Miscellaneous
87700                  193  Miscellaneous
87701                  261  Miscellaneous
87702                  113  Miscellaneous

[87109 rows x 12 columns]

### 열 product_category_name	지우고  카테고리로 변경, null 값 지우기

In [ ]:
# null 값이 포함된 행 제거
final_df02 = final_df.drop(columns=['product_category_name'])
final_df02 = Products_df01.dropna()

In [ ]:
final_df02.info()

In [ ]:
final_df03 = final_df02.dropna()

In [ ]:
final_df03.info()

In [ ]:
unique_categories = final_df03['category'].unique()

# 결과 출력
print(unique_categories)